web/src/main/resources/xsd/flowable-design.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Minimal XSD for the Flowable Design namespace (http://flowable.org/design).
  Purpose: provide IDE/XML-editor validation for the common Modeler metadata
  exported into BPMN/CMMN (design:stencilid, design:stencilsuperid, design:palette, ...).

  NOTE:
  - This is a convenience XSD for editing/validation in IDEs and CI; Flowable engine
    does not require or consume this XSD at runtime.
  - The XSD intentionally allows an open content model for forward compatibility.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://flowable.org/design"
            xmlns:design="http://flowable.org/design"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

  <!-- common simple elements used by Flowable Design / Modeler -->
  <xsd:element name="stencilid" type="xsd:string"/>
  <xsd:element name="stencilsuperid" type="xsd:string"/>
  <xsd:element name="palette" type="xsd:string"/>
  <xsd:element name="paletteid" type="xsd:string"/>
  <xsd:element name="property" type="xsd:string"/>
  <xsd:element name="stencil" type="xsd:string"/>

  <!-- generic container for any design metadata the Modeler may emit -->
  <xsd:element name="metadata">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:anyAttribute processContents="lax"/>
    </xsd:complexType>
  </xsd:element>

  <!-- a permissive element to allow unknown/forward-compatible design children -->
  <xsd:element name="designExtension" type="design:anyType"/>

  <xsd:complexType name="anyType" mixed="true">
    <xsd:sequence>
      <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:anyAttribute processContents="lax"/>
  </xsd:complexType>

  <!-- Provide a global wildcard so editors can validate design:* children without failing -->
  <xsd:attribute name="palette" type="xsd:string"/>

</xsd:schema>
